<div class="layout-topbar">
  <div class="topbar-menu">
    {{title}}
  </div>
</div>

<div class="content">
  <button pButton type="button" label="DISPLAY LOCATIONS" class="ui-button-raised" (click)="getLocations()"></button>
</div>

<div class="table-content p-grid" style="text-align: center;margin-left:5%;margin-right: 5%;">
  <div class="p-col" [hidden]="locationFlag">
    <p-table [value]="locations" [scrollable]="true" >
      <ng-template pTemplate="header">
          <tr>
              <th>LOCATION NAME</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-location>
          <tr>
              <td>{{location.location}}</td>
              <td>
                <button pButton type="button" label="DISPLAY DEPARTMENTS" class="ui-button-raised" (click)="getDepartments(location.locid)">
                </button>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-col">
    <p-table [value]="departments" [scrollable]="true" [hidden]="departmentFlag">
      <ng-template pTemplate="header">
          <tr>
              <th>DEPARTMENT NAME</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-department>
          <tr>
              <td>{{department.department}}</td>
              <td>
                <button pButton type="button" label="DISPLAY CATEGORIES" class="ui-button-raised" >
                </button>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>
